/*

Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/

:root {
  --primary-colour: #eb2f64;
  --primary-light-colour: #ff3366;
  --primary-dark-colour: #ba265d;

  --gray-light--1: #faf9f9;
  --gray-light--2: #f4f2f2;
  --gray-light--3: #f0eeee;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--gray-light--2);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: 68.75em) {
    font-size: 50%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  color: #777;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(
    to right bottom,
    var(--primary-light-colour),
    var(--primary-dark-colour)
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
