*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;

  @include respond-phone {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;

  padding: 3rem;
}

/* .page-container {
    padding: 3rem;
} */
.primary-heading--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;

  animation: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out;

  /* animation-delay: 2s;
    animation-iteration-count: 3;
     */
}

.primary-heading--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.7rem;

  animation: moveInRight 2s ease-out;
}


@mixin respond-phone {
  @media (max-width: 600px) {
    @content
  };
}
